h3{
    padding: 10px 0px 0px 24px;
    font-size: 24px;
    font-family:monospace;
}
nav{
    height: 111px;
    background-color: #77c9c9;
    position: relative;
    top: 1px;
    box-shadow:0 0 12px rgb(0 0 0 / 57%);
}
P{
    font-size:18px;
    margin-bottom: 26px;
}
  .mail{
    position: relative;
    top: 2px;
    width: 92%;
    height: 45px;
    margin-bottom:30px;
    font-size: 20px;
    padding-left: 20px;
    left: 14px;
    border-radius: 9px;
  }
   body{
    background:#acaeaf4f;
   }
  .block{
    width: 539px;
    height: 299px;
    position: relative;
    left: 30%;
    top: 7%;
    background: white;
    border-radius: 1em;
    box-shadow: 0 0 4px rgb(0 0 0 / 72%);
  }
  h1{
    position: fixed;
    left: 34%;
    top: 4px;
    font-size: 35px;
    color: white;
  }
  label{
       text-align:centre;
  }
  .valider{
    width: 163px;
    height: 38px;
    position: fixed;
    left: 56%;
    background: #1768e19e;
    color: white;
    font-size: 20px;   
    cursor: pointer;
  }
  .annuler{
    width: 163px;
    height: 38px;
    position: fixed;
    left: 43%;
    font-size: 20px;
    color: black;
    cursor: pointer;
  }